/* main website styles */
body{background-color: white;}
b{font-size: 38px;font-family:"damion";}
.bg-light{margin-right: 0em;
  margin: 0;}

/* nav bar area */
.navbar-brand{font-size:3.5rem;font-family:"damion";}
.nav-item{font-family: "damion";
font-size: 30px;}

/* PICTURE PLUS TEXT*/
/* picture styling */
.forest{
  background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/89465683_591351704793257_1497233562254966784_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=oXd1cCM7vYoAX_Zubre&_nc_ht=scontent-lax3-1.xx&oh=5f2401dd765679553ddb0294015329a4&oe=5E987544);
  background-repeat: no-repeat;
  background-size:cover;
  width: 1000px;
  height: 550px;
  margin: 0em;
  margin-left:12.5em;}
/* about me facts */
ul{
text-align:left;
margin:19em;
margin-bottom:1em;
margin-top:0em;
font-family:'Courier New', Courier, monospace;
font-size: 17px;}


